table, th, td {
    border: 1.5px solid green;
    padding-bottom: 4.2px
    }
img {
    border: 3px solid purple;
      }
div.a {
    text-align: center;
      }
body {
  background-color: #3F837C
}
p {
  color: white;
  font-size: 14px;
  font-family: verdana;
}
a {
  color: white;
  font-size: 14px;
  font-family: verdana;
}

h1 {
  color: white;
  font-size: 20px;
  font-family: verdana;
}
h2 {
  color: white;
  font-size: 18px;
  font-family: verdana;
}
h4 {
  color: white;
  font-size: 14px;
  font-family: verdana;
}
  h5 {
    color: white;
    font-size: 9px;
    font-family: verdana;
}
li {
  color: white;
  font-size: 14px;
  font-family: verdana;
}
  footer {
    color: white;
    font-size: 14px;
    font-family: verdana;
}
h1 {
  color:white;
}
h2 {
  color:white;
}
h3 {
  color:white;
}
h4 {
  color:white;
}
li {
  color:white;
}
footer {
  color:white;
}
th {
  color: white;
}
tr {
  color: white;
}
td {
  color: white;
}
