*{
  color:white
}
.the-best{
  color: lightblue;
}
table, th, td {
    border: 1px solid white;
    padding: 2px
    font-family: verdana
    }
td.first {
      font-weight:bold;
    }
img {
    border: 3px solid lightblue;
      }
div.a {
    text-align: center;
      }
body {
  background-color: #3F837C
}
p, li {
  font-size: 14px;
  font-family: verdana;
}
h1 {
  font-size: 20px;
  font-family: verdana;
  text-decoration: italic
}
h2 {
  font-size: 18px;
  font-family: verdana;
}
h5 {
    font-size: 12px;
    font-family: verdana;
  }
.childhood {
  text-indent: 50px
}
a {
  font-family: verdana;
}
#home{
  text-indent: 40px
}
#height{
  color: #ffcc99;
  text-align: center
}
#movies{
   border: 5px;
   border-style: dashed;
   border-color: #ffcc99;
   padding: 3.4px;
   text-align: center
}
.kids{
  text-align: left;
  margin-left: 300px;
  list-style-position: inside;
}
a[title]{
  color:white;
}
a[href="https://en.wikipedia.org/wiki/My_Little_Pony:_The_Movie_(1986_film)"]{
  color: lightblue
}
